h1{
  text-align: center;
  color: light-blue;
}
img{
  height: 250px;
  width: 400px;
  float: left;
  margin-left: 33%;

}
.margin{
  margin-left: 40px;
  margin right: 40px;
}
.image-with-text{
  text-align: justify;
  width: [width of img];
}
.image-with-text{
  display: block;
  margin: 0 auto;
}
