h1{
  text-align: center;
  color: orange;
}
img{
  height: 410px;
  width: 600px;
  float: left;

}
.margin{
  margin-left: 40px;
  margin right: 40px;
}
h2{
text-align: center;
}
.sidebar{
  width: 50%;
  float: right;
  background-color: gray;
  margin-top: -10px;
}
body{
  background-color: green;
}
