h1{
  text-align: center;
  color: light-blue;
}
img{
  height: 350px;
  width: 600px;
  float: left;

}
.margin{
  margin-left: 40px;
  margin right: 40px;
}
h2{
text-align: center;
}
.sidebar{
  width: 50%;
  float: right;
  background-color: gray;
}
